<section class="shouting">
    <h2>Abschlussaufgabe - wenn noch Zeit ist ...</h2>
</section>

<section>
    <h2>Flexibles Layout erstellen</h2>
    <img src="pictures/rwd/flex-layout-1.png" alt="">
    <p>Versuchen Sie diese Layoutidee nachzuempfinden und spielen Sie mit den Möglichkeiten von Responsive Webdesign!</p>
</section>