<section class="shouting">
    <h2>Die Weiterentwicklung</h2>
    <h3>Automatisch umbrechende Grids</h3>
</section>

<section>
    <h2>Der Code</h2>
    <pre><code class="css">.grid {
	display: flex;
	flex-wrap: wrap;
}

.grid-item {
	flex: 1 0 25%;
	min-width: 15rem;
}</code></pre>
    <p>Die Mindestbreite ist hier der entscheidende Faktor!</p>
    <div class="linksToOutside"><a href="https://codepen.io/jensgro/pen/ZPXBLw?editors=1100" target="_blank">zum Codepen</a></div>
</section>