<section class="shouting">
    <h2>Media Queries und JavaScript</h2>
</section>
<section class="shouting-secondary">
    <h2>Man kann auch in JS auf die Breite des Browserfensters reagieren.</h2>
</section>
<section>
    <h2>matchmedia()</h2>
    <pre><code class="js">
if (window.matchMedia("(min-width: 480px)").matches) {
  /* Der Viewport ist mindestens 480 Pixel breit */
} else {
  /* Der Viewport ist kleiner als 480 Pixel. */
}
    </code></pre>
</section>
