<section class="shouting">
    <h2>Änderungen der Reihenfolge</h2>
</section>

<section>
    <p>Dank Flexbox und CSS-Grid können wir ziemlich einfach die visuelle Reihenfolge von Elementen verändern. Das ist allerings leider keine gute Idee, da alle Tastaturnutzer darunter leiden werden!</p>
    <p>Die Tab-Reihenfolge wird sich nach dem DOM richten, nicht nach der Optik. Das kann sehr verwirren.</p>
</section>

<section>
    <p>
        Deshalb: wenn die Änderung der Reihenfolge unerlässlich ist, diese nur für schmale Breakpoints vornehmen. Das sind dann eh alles Smartphones und die haben keine Tab-Taste. Da ist eine Änderung der Reihenfolge nicht so schlimm.
    </p>
    <p>
        Wenn ansonsten mobile first entwickelt wird, muss in diesem Falle eine Ausnahme gemacht werden.
    </p>
</section>