<section class="shouting">
    <h2>SVG</h2>
</section>

<section class="shouting-secondary">
    <h2>SVG sind sinnvoll für Icons und einfache Diagramme.</h2>
</section>

<section class="shouting-secondary">
    <h2>Warum keine Iconfonts nutzen?</h2>
</section>

<section>
    <img src="pictures/rwd/tim-cook-apple.jpg" alt="">
    <p>Dieser Screenshot zeigt Tim Cooks Twitter-Bio auf einem Apple-System. Nachdem Trump ihn öffentlich "Tim Apple" genannt hatte, integrierte er das Apple-Zeichen quasi als Nachname. Twitter implementiert solche Zeichen mittels Iconfonts.</p>
</section>

<section>
    <img src="pictures/rwd/tim-cook-windows.jpg" alt="">
    <p>Diese Screenshots zeigen Tim Cooks Twitter-Bio auf einem Windows-System. Offenbar ist das Apple-Zeichen dort <strong>nicht</strong> Teil des genutzten Zeichensatzes.</p>
</section>

<section class="shouting-secondary">
    <h2>Einziger Spielverderber beim perfekten Umgang mit SVG-Sprites ist der IE.</h2>
</section>

<section class="shouting-tertiary">
    <h2>SVG ist ein wenig kompliziert und facettenreich, bietet dadurch aber viele Möglichkeiten!</h2>
</section>

<section>
    <h2>Attribute können nicht überschrieben werden</h2>
    <pre><code class="html">
&lt;div class=&quot;icon&quot;&gt; 
    &lt;svg width=&quot;100&quot; height=&quot;100&quot; 
         fill=&quot;#a20000&quot; stroke=&quot;#fd8700&quot;
         viewBox=&quot;0 0 10 10&quot;&gt;
        &lt;path d=&quot;m7.4 8.8-2.4-1.3-2.4 .....&quot;/&gt;
    &lt;/svg&gt;
&lt;/div&gt;</code></pre>   
</section>

<section class="shouting-secondary">
    <h2>Aufgaben</h2>
    <ol>
        <li class="li"><a href="https://codepen.io/jensgro/pen/BbdaXj" target="_blank">Experimentieren Sie mit SVGs mit und ohne Attributen</a> und versuchen Sie, diese SVG mittels CSS zu modifizieren.</li>
        <li class="li"><a href="https://codepen.io/jensgro/pen/yzryMN" target="_blank">Eine Auswahl freier und kompakter SVGs</a> bietet Ihnen die Möglichkeit für Experimente.</li>
    </ol>
</section>