<section class="shouting">
    <h2>Video</h2>
</section>

<section>
    <p>Ganz am Anfang stand ein heilloses Durcheinander an Formaten für Video, Bilder und Schriften.</p>
    <p>Mittlerweile hat sich das gegeben. <mark>Wir können uns auf MP4 konzentrieren.</mark></p>
</section>

<section>
    <h2>Einbetten</h2>
    <pre><code class="html">
&lt;video src=&quot;videofile.mp4&quot; autoplay poster=&quot;posterimage.jpg&quot;&gt;
 Ihr Browser unterstützt leider dieses Format nicht. 
 Sie können es sich aber auch gerne &lt;a href=&quot;videofile.mp4&quot;&gt;hier herunterladen&lt;/a&gt;
 und dann mit Ihrem bevorzugten Videoplayer anschauen!&#10;&lt;/video&gt;
    </code></pre>   
    <p>Der Text innerhalb des Videoelements wird gezeigt, wenn der Browser das Videoelement oder die Dateiart nicht kennt.</p>
    <p>Safari unterstützt das <code>autoplay</code>-Attribut weder auf dem Desktop noch mobil direkt. Auf dem Desktop kann man den Browser so einstellen, dass er gehorcht.</p>
</section>

