@font-face {
    font-family: "Noto Regular";
    src: url("fonts/noto-sans/notosans-regular-webfont.woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Noto Bold";
    src: url("fonts/noto-sans/notosans-bold-webfont.woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Ubuntu Medium";
    src: url("fonts/ubuntu/ubuntu-medium-webfont.woff");
    font-weight: normal;
    font-style: normal;
  }
