<!-- # Pattern Libraries im Zentrum von Entwicklung und Design

Eine Website besteht aus vielen Einzelteilen, die oft beliebig miteinander kombiniert werden können. Gerade bei umfangreichen Projekten ist es eine Herausforderung, den Überblick über die vielen einzelnen Module und ihre Abwandlungen zu behalten.

Pattern Libraries sind wie Living Styleguides gute Hilfsmittel, um den Stand der Frontend-Entwicklung zu dokumentieren. Er kann damit auch dem Backend, dem Design, der Konzeption und dem Kunden dienlich sein. Man muss nur wissen, wie.

Ich zeige ein paar Ansätze für Pattern Libraries und Styleguides. Ausserdem gehe ich auf die Arbeit der verschiedenen Gewerke mit diesen Tools ein. -->


 <section class="shouting">
     <h2>Definition</h2>
 </section>

