<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/reveal.css">
</head>
<body>
	<div class="reveal">
		<div class="slides">
			{% include "partials/presentation-title.njk" %}

			{{ content | safe }}

		</div>
	</div>

	<script src="assets/js/reveal.js"></script>
	<script>
		// More info https://revealjs.com/config/
		{# Reveal.initialize(); #}

		Reveal.initialize({
			controlsTutorial: false,
			history: true,
			slideNumber: true,
			slideNumber: 'c/t',
			center: true,
			transition: 'default', // none/fade/slide/convex/concave/zoom
			transitionSpeed: 'fast' // default/fast/slow
		}); 

	</script>
	<!-- Copyright © 2022 Jens Grochtdreis -->
</body>
</html>