  <section class="shouting">
    <h2>JavaScript und Barrierefreiheit</h2>
  </section>
  <section>
    <h2>JavaScript ist kein prinzipielles Hindernis für Barrierefreiheit. Manchmal ist es sogar eine Voraussetzung.</h2>
  </section>
  <section>
    <h2>Nur zur Erinnerung:<br>
    Barrierefreiheit ≠ Screenreader!</h2>
  </section>
  <section>
    <h2>Insbesondere beim partiellen Anzeigen versteckter Inhalte ist JavaScript unverzichtbar. Mit JS kann man ARIA-Attribute manipulieren.</h2>
  </section>

  <section class="shouting-secondary">
    <h2>Screenreader können mit JavaScript umgehen.</h2>
  </section>

  <section class="shouting-tertiary">
    <h2>Die Nutzung von JS ist aber selber eine potentielle Barriere:<br>
      Man kann es deaktivieren!</h2>
  </section>

  <section class="shouting-tertiary">
    <h2>Im Normalfall sollten ohne JS die wichtigsten Inhalte und Funktionen zugänglich sein.</h2>
  </section>

  <section class="shouting-tertiary">
    <h2>Funktionieren Elemente nur mit Javascript, dann diese und alle „Helfer-Elemente“ auch mit Javascript hinzufügen.</h2>
  </section>

  <section class="shouting-tertiary">
    <h2>Erst nach einem HTML-Element suchen. Wenn es keines gibt, dann mit JS und WAI-ARIA eingreifen.</h2>
  </section>

  <section class="shouting-tertiary">
    <h2>JavaScript darf nicht ausschliesslich auf Mausbenutzung ausgerichtet sein.</h2>
  </section>

  <section class="shouting-tertiary">
    <h2>Zufall und Automatismen machen einen Seitenbestandteil schnell unzugänglich. Der Nutzer sollte Kontrolle haben.</h2>
  </section>

  <section class="shouting-tertiary">
    <h2>Oft muss neu entstandenem Inhalt Fokus gegeben werden, damit der Screenreader die Änderung mitbekommt.</h2>
  </section>

  <section class="shouting-tertiary">
    <h2>Popups/Modals sind ein Usability- und Accessibility-Problem. Sie nehmen den Fokus, überdecken Inhalte und lassen sich nicht beliebig skalieren. Aber es gibt dafür gute Lösungen.</h2>
  </section>


  <section>
    <h2>Leseempfehlungen</h2>
    <ul>
      <li>
        <a href="https://webaim.org/techniques/javascript/"
            target="_blank">Accessible JavaScript</a> von WebAIM
      </li>
      <li>
        <a href="https://hackernoon.com/its-a-focus-trap-699a04d66fb5"
            target="_blank">It's a (focus) trap</a>
      </li>
      <li>
        <a href="http://pauljadam.com/moderna11y/"
            target="_blank">Modern Web Accessibility with JavaScript & WAI-ARIA</a>
      </li>
      <li>
        <a href="https://medium.com/salesforce-ux/4-major-patterns-for-accessible-drag-and-drop-1d43f64ebf09"
            target="_blank">4 Major Patterns for Accessible Drag and Drop</a>
      </li>
      <li>
        <a href="http://www.hellbusch.de/jquery/"
            target="_blank">jQuery - Die Barrierefreiheit bleibt davon unberührt</a>
      </li>
    </ul>
  </section>
