<section class="shouting">
  <h2>A11y lernen</h2>
</section>

<section>
  <h2>Kostenloser Udacity-Kurs von Google</h2>
  <figure>
      <img src="pictures/a11y/lernen-udacity-google.png" alt="">
      <figcaption class="linksToOutside"><a href="https://de.udacity.com/course/web-accessibility--ud891" target="_blank">zur Webseite</a></figcaption>
  </figure>
</section>
<section>
  <h2>Inclusive Design - Buch und E-Book</h2>
  <img class="stretch" src="pictures/a11y/lernen-inclusive-design-patterns.jpg" alt="">
  <div class="linksToOutside"><a href="https://www.smashingmagazine.com/inclusive-design-patterns/" target="_blank">zur Webseite</a></div>
</section>
<section>
  <h2>A11y casts von Google (auf Youtube)</h2>
  <img src="pictures/a11y/lernen-a11y-casts.png" alt="">
  <div class="linksToOutside"><a href="https://www.youtube.com/watch?v=HtTyRajRuyY" target="_blank">zur Webseite</a></div>
</section>
<section>
  <h2>A11y Weekly - Newsletter</h2>
      <img class="stretch" src="pictures/a11y/lernen-a11y-weekly.png" alt="">
      <div class="linksToOutside"><a href="http://a11yweekly.com/" target="_blank">zur Webseite</a></div>
</section>
<section>
  <h2>WCAG2 im Überblick</h2>

  <img src="pictures/a11y/lernen-wcag2-im-ueberblick.png" alt="">
  <div class="linksToOutside"><a href="https://www.einfach-fuer-alle.de/artikel/wcag-einfuehrung/" target="_blank">zur Webseite</a></div>
</section>
<section>
  <h2>Apps for All</h2>
  <img src="pictures/a11y/apps-for-all.png" alt="">
  <div class="linksToOutside"><a href="https://shop.smashingmagazine.com/products/apps-for-all" target="_blank">zur Webseite</a></div>
</section>
<section>
  <h2>Inclusive Design 24 - Online-Konferenz</h2>
  <figure>
      <img src="pictures/a11y/inclusive-design-24.png" alt="">
      <figcaption class="linksToOutside"><a href="https://www.inclusivedesign24.org/" target="_blank">zur Webseite</a></figcaption>
  </figure>
</section>

<section>
  <h2>ARIA bei MDN</h2>
  <img src="pictures/a11y/aria-mdn.png" alt="Screenshot der ARIA-Übersicht bei MDN.">
  <div class="linksToOutside"><a href="https://developer.mozilla.org/de/docs/Web/Barrierefreiheit/ARIA" target="_blank">zur Webseite</a></div>
</section>

<section>
  <h2>Tastaturbedienbarkeit und JavaScript</h2>
  <img src="pictures/a11y/keyboard-navigable-js-widgets.png" alt="Screenshot des Artikels bei MDN.">
  <div class="linksToOutside"><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/Keyboard-navigable_JavaScript_widgets" target="_blank">zur Webseite</a></div>
</section>

<section data-menu-title="Wissen = Sieg" class="shouting-tertiary">
    <img src="pictures/a11y/wissen-sieg.jpg" alt="Bahnhofsschild von Wissen bei Sieg." class="stretch">
</section>
