<section>
    <h2>Das war's!</h2>
    <figure>
        <img src="pictures/general/klatsch-klatsch-klatsch.jpg" alt="" class="flexible">
        <figcaption>Jens Grochtdreis, Produktentwicklung</figcaption>
    </figure>
</section>
