<section class="shouting">
  <h2>Barrierefreiheit ist nicht nur für Blinde</h2>
</section>
<section>
  <h2>Es gibt viele unterschiedliche Behinderungen</h2>
</section>
<section>
  <img src="pictures/a11y/behinderungsformen.png" alt="Behinderungen können permanent, vorübergehend und situationsbezogen sein." class="stretch">
</section>
<section>
  <img src="pictures/a11y/inclusive-design-3.png" alt="Eine Darstellung unterschiedlicher Arten von Behinderungen." class="stretch">
</section>

<section>
    <h2>Körperbehinderung</h2>
    <ul>
      <li>Contergan</li>
      <li>motorische Behinderungen</li>
    </ul>
</section>
<section>
    <h2>Lernbehinderung</h2>
    <ul>
      <li>Dyslexie</li>
      <li>Legasthenie</li>
    </ul>
</section>
<section>
    <h2>Sinnesbehinderungen</h2>
    <ul>
      <li>Farbfehlsichtigkeit</li>
      <li>Blindheit</li>
      <li>Gehörlosigkeit</li>
      <li>Taubblindheit</li>
    </ul>
</section>
<section>
    <h2>Geistige Behinderung</h2>
    <ul>
      <li>Down-Syndrom</li>
    </ul>
</section>
<section>
  <h2>Unterschiedliche Bedienungsformen</h2>
  <ul>
    <li>Screenreader</li>
    <li>Bildschirmlupe</li>
    <li>Kopfmaus</li>
    <li>Mouthstick (Mundstab?)</li>
  </ul>
</section>

<section>
  <figure>
    <img src="pictures/a11y/abilitychart-edited.png" alt="Eine Darstellung unterschiedlicher Arten von Behinderungen." class="stretch">
    <figcaption class="linksToOutside"><a href="https://www.24a11y.com/2017/5-common-misconceptions-web-accessibility/" target="_blank">Bildquelle</a></figcaption>
  </figure>
</section>

<section>
  <h2>Wer kommt noch in den Genuss zugänglicher Webseiten?</h2>
  <ul>
    <li>ältere Menschen</li>
    <li>Nutzer ohne Maus</li>
    <li>Nutzer mit schlechter Lesekompetenz</li>
    <li>Nutzer bei hellem Umgebungslicht</li>
    <li>Nutzer mit gebrochenem oder verstauchtem Arm</li>
    <li>Ausländer mit schlechten bis mittelmäßigen Deutschkenntnissen</li>
  </ul>
</section>

<section>
  <div class="split">
    <div>
      <p>Die Nutzung eines Smartphones oder Tablets kommt einer Behinderung gleich, wenn die genutzte Webseite nicht gut gemacht ist. Schliesslich haben mobile Endgeräte <mark>keine Maus</mark>. </p>
    </div>
    <div>
      <img src="pictures/a11y/datums-popup-mobil.jpg" alt="Ein Datums-Popup ist auf einem Smartphone abgeschnitten.">
    </div>
  </div>

</section>
