<section class="shouting">
  <h2>Checklisten</h2>
</section>
<section>
  <p>Checklisten sind kein Allheilmittel. Sie sind aber nützlich, um sich an die zu überprüfenden Details zu erinnern. </p>
</section>

<section data-menu-title="BaNu">
  <h2>Selber zusammenstellen (lassen)</h2>
    <figure>
        <img src="pictures/a11y/banu.jpg" alt="">
        <figcaption class="linksToOutside"><a href="www.banu.bund.de/" target="_blank">zum Projekt</a></figcaption>
    </figure>
</section>

<section data-menu-title="Die A11y-Guidelines von Voxmedia">
    <figure>
        <img src="pictures/a11y/a11y-guidelines-voxmedia.png" alt="Die A11y-Guidelines von Voxmedia.">
        <figcaption class="linksToOutside"><a href="" target="_blank">zum Projekt</a></figcaption>
    </figure>
</section>

<section data-menu-title="Prüfschritte des BITV-Tests der BIK">
    <figure>
        <img src="pictures/a11y/bik-test-1.jpg" alt="Die Prüfschritte des BITV-Tests der BIK.">
        <figcaption class="linksToOutside"><a href="http://www.bitvtest.de/bitvtest/das_testverfahren_im_detail/pruefschritte.html" target="_blank">zum Projekt</a></figcaption>
    </figure>
</section>

<section data-menu-title="How to meet WCAG">
    <figure>
        <img src="pictures/a11y/how-to-meet-wcag2.png" alt="Offizielle Checkliste zur WCAG.">
        <figcaption class="linksToOutside"><a href="https://www.w3.org/WAI/WCAG20/quickref/" target="_blank">zum Projekt</a></figcaption>
    </figure>
</section>

<section data-menu-title="The A11y Cheatsheet">
    <figure>
        <img src="pictures/a11y/the-a11y-cheatsheet.jpg" alt="Webseite mit einem Accessibility Cheatsheet.">
        <figcaption class="linksToOutside"><a href="https://bitsofco.de/the-accessibility-cheatsheet/" target="_blank">zum Cheatsheet</a></figcaption>
    </figure>
</section>

<section data-menu-title="The A11y-Project Checklist">
    <figure>
        <img src="pictures/a11y/the-a11y-project-checklist.png" alt="Die Checkliste des Accessibility Project.">
        <figcaption class="linksToOutside"><a href="http://a11yproject.com/checklist.html" target="_blank">zur Checklist</a></figcaption>
    </figure>
</section>

<section data-menu-title="Checkliste für Inclusive Design von Heydon Pickering">
  <figure>
    <img src="pictures/a11y/inclusive-design-checklist.png" alt="Das Github-Repo von Heydon Pickering mit einer Checkliste für Barrierefreiheit.">
    <figcaption class="linksToOutside"><a href="https://github.com/Heydon/inclusive-design-checklist" target="_blank">Projektseite</a></figcaption>
  </figure>
</section>

<section data-menu-title="A11y-Checklist von Jan Eric Hellbusch">
    <figure>
        <img src="pictures/a11y/a11y-checklist-hellbusch.jpg" alt="Die Accessibility-Checkliste von Jan Eric Hellbusch.">
        <figcaption class="linksToOutside"><a href="http://www.hellbusch.de/accessibility-checkliste/" target="_blank">zum Artikel</a></figcaption>
    </figure>
</section>

<section>
  <h2>So was Ähnliches, wie eine Checkliste.</h2>
    <figure>
        <img src="pictures/a11y/24ways-a11y.png" alt="Ein langer Artikel auf 24ways über die WCAG2.">
        <figcaption class="linksToOutside"><a href="https://24ways.org/2017/wcag-for-people-who-havent-read-them/" target="_blank">zum Artikel</a></figcaption>
    </figure>
</section>
