<section class="shouting">
  <h2>Code zum Lernen</h2>
</section>

<section>
  <h2>Deque Pattern Library</h2>
  <figure>
      <img src="pictures/a11y/deque-pattern-library.png" alt="">
      <figcaption class="linksToOutside"><a href="https://pattern-library.dequelabs.com/" target="_blank">zur Webseite</a></figcaption>
  </figure>
</section>

<section>
  <h2>A11Y Style Guide</h2>
  <figure>
      <img src="pictures/a11y/a11y-style-guide.png" alt="">
      <figcaption class="linksToOutside"><a href="http://a11y-style-guide.com/style-guide/" target="_blank">zur Webseite</a></figcaption>
  </figure>
</section>

<section>
  <h2>The A11Y Project</h2>
  <figure>
      <img src="pictures/a11y/the-a11y-project.png" alt="">
      <figcaption class="linksToOutside"><a href="http://a11yproject.com/" target="_blank">zur Webseite</a></figcaption>
  </figure>
</section>

<section>
  <h2>Inclusive Components</h2>
  <figure>
      <img src="pictures/a11y/inclusive-components.png" alt="">
      <figcaption class="linksToOutside"><a href="https://inclusive-components.design/" target="_blank">zur Webseite</a></figcaption>
  </figure>
</section>

<section>
  <h2>Frend</h2>
  <figure>
      <img src="pictures/a11y/frend.png" alt="">
      <figcaption class="linksToOutside"><a href="https://frend.co/" target="_blank">zur Webseite</a></figcaption>
  </figure>
</section>
