<section class="shouting">
  <h2>Einwände gegen Accessibility</h2>
</section>

<section class="shouting-secondary">
  <h2>Wir machen unsere Seiten schon responsive, da ist Barrierefreiheit zuviel zusätzlicher Aufwand.</h2>
</section>
<section>
  <ol>
    <li>Viele Aspekte der Accessibility sind auch für mobile Nutzer sinnvoll.</li>
    <li>Von Anfang an mitgeplant ist es kein unnötiger Zusatzaufwand.</li>
    <li>Mobile Nutzung ist aus der Sicht eines Desktops auch eine Form der Behinderung.</li>
  </ol>
</section>

<section class="shouting-secondary">
  <h2>Soll ich jetzt eine normale und eine barrierefreie Version machen?</h2>
</section>
<section>
  <p><mark>NEIN!!!</mark> Machen Sie einfach eine gute, zugängliche Seite für alle. Warum wollen Sie Nutzergruppen ausgrenzen/den Stinkefinger zeigen?</p>
</section>

<section class="shouting-secondary">
    <h2>Barrierefreiheit schränkt meine kreative Freiheit ein.</h2>
</section>
<section>
  <p><mark>NEIN!</mark> Nur weil viele barrierefreie Seiten hässlich sind, heisst es nicht, dass sie nicht schön sein könnten. Und mal ehrlich: was ist an schlechten Kontrasten schön? Ist ein nicht nutzbares Design nicht einfach nur schlechte Dekoration? Sind Sie Designer oder Dekorateur?</p>
  <div class="linksToOutside"><a href="http://www.mediaaccess.org.au/digitalaccessibilityservices/why-accessible-design-is-better-design/" target="_blank">Linktipp: Why accessible design is better design</a></div>
</section>

<section class="shouting-tertiary">
  <h2>Gute Designer machen auch attraktive und zugängliche Seiten.</h2>
</section>
<section>
  <figure>
    <img src="pictures/a11y/nomensa-1.png" alt="">
    <figcaption class="linksToOutside"><a href="https://www.nomensa.com/" target="_blank">NoMensa</a></figcaption>
  </figure>
</section>
<section>
  <figure>
    <img src="pictures/a11y/nomensa-2.png" alt="">
    <figcaption class="linksToOutside"><a href="https://www.nomensa.com/" target="_blank">NoMensa</a></figcaption>
  </figure>
</section>
<section>
  <figure>
    <img src="pictures/a11y/hauptbahnhof-wien.jpg" alt="">
    <figcaption class="linksToOutside"><a href="http://www.hauptbahnhof-wien.at/" target="_blank">Hauptbahnhof Wien</a></figcaption>
  </figure>
</section>

<section class="shouting-secondary">
    <h2>Das ist zuviel Aufwand. <br>
    Das bezahlt mir keiner!</h2>
</section>
<section>
  <ol>
    <li>Manche Techniken sind einfach nur sauberes Arbeiten. Das sollte selbstverständlich sein und niemandem extra berechnet werden.</li>
    <li>Gute Accessibility mündet immer in guter Usability. Die zahlt sich auch aus, weil die Seite/Applikation für jeden besser nutzbar wird.</li>
    <li>Auch Menschen mit Behinderungen sind potentielle Kunden/Nutzer/Leser. Warum diese verprellen und nicht die Gesamtheit der Nutzer einfach vergrößern?</li>
  </ol>
  <div class="linksToOutside"><a href="http://www.mediaaccess.org.au/digitalaccessibilityservices/inaccessible-websites-force-many-to-click-away-2/" target="_blank">Linktipp: Inaccessible websites force many to ‘Click away’</a></div>
</section>

 <section class="shouting-secondary">
  <h2>Meine Nutzer sind nicht blind!</h2>
 </section>
 <section>
  <ol>
    <li>Woher wissen Sie das?</li>
    <li>Barrierefreiheit ist nicht nur für Blinde da. Es geht um (körperliche) Einschränkungen, die durchaus temporär sein können.</li>
  </ol>
</section>
<section>
  <img src="pictures/a11y/behinderungsformen.png" alt="Behinderungen können permanent, vorübergehend und situationsbezogen sein." class="stretch">
</section>
<section>
  <figure>
    <img src="pictures/a11y/abilitychart-edited.png" alt="Eine Darstellung unterschiedlicher Arten von Behinderungen." class="stretch">
    <figcaption class="linksToOutside"><a href="https://www.24a11y.com/2017/5-common-misconceptions-web-accessibility/" target="_blank">Bildquelle (sehr guter Artikel)</a></figcaption>
  </figure>
</section>

<section class="shouting-tertiary">
  <h2>Sie brauchen keine zugängliche Webseite, wenn alle diese Bedingungen zutreffen:</h2>
</section>
<section>
  <ol>
    <li>Sie haben eine perfekte Sehkraft.</li>
    <li>Sie haben perfekte motorische Fähigkeiten.</li>
    <li>Deutsch ist Ihre erste Sprache.</li>
    <li>Es fällt Ihnen leicht, mit komplexen Informationen umzugehen.</li>
    <li>Sie werden niemals müde.</li>
    <li>Sie haben immer Zugang zu schnellem Internet.</li>
    <li>Ihr Smartphone oder/und Computer ist modern.</li>
    <li>Sie können perfekt hören.</li>
    <li>Sie haben nie Verletzungen oder Krankheiten, auch nicht zeitweise.</li>
    <li>Sie haben nie Schmerzen im Bewegungsapparat.</li>
  </ol>
  <div class="linksToOutside"><a href="http://www.heydonworks.com/article/who-is-inclusive-design-for" target="_blank">zum Original-Text von Heydon Pickering</a></div>
</section>
