&lt;!-- Codeausschnitt aus: https://www.cannes.aeroport.fr/  --&gt;

&lt;aside class=&quot;left-off-canvas-menu sidebar&quot;&gt;
  &lt;ul&gt;
    &lt;li&gt;
      &lt;dl data-accordion=&quot;&quot; class=&quot;accordion large-12 columns main-menu&quot;&gt;
        &lt;dd&gt;
          &lt;a href=&quot;/&quot;&gt;Accueil&lt;/a&gt;
        &lt;/dd&gt;
        &lt;dd&gt;
          &lt;a href=&quot;#content0&quot; class=&quot;icon-right-open&quot;&gt;AEROPORT&lt;/a&gt;
          &lt;dl id=&quot;content0&quot; class=&quot;content accordion&quot; data-accordion=&quot;&quot;&gt;
            &lt;dd&gt;
              &lt;a href=&quot;#&quot; title=&quot;Destination C&ocirc;te d&apos;Azur&quot;&gt;Destination C&ocirc;te d&apos;Azur&lt;/a&gt;
            &lt;/dd&gt;
            &lt;dd&gt;
              &lt;a href=&quot;#&quot; title=&quot;Actualit&eacute;s&quot;&gt;Actualit&eacute;s&lt;/a&gt;
            &lt;/dd&gt;
            &lt;!-- ... usw. --&gt;
          &lt;/dl&gt;
        &lt;/dd&gt;
        &lt;dd&gt;
          &lt;a href=&quot;#content1&quot; class=&quot;icon-right-open&quot;&gt;SERVICES &amp;amp; ASSISTANCES&lt;/a&gt;
          &lt;dl id=&quot;content1&quot; class=&quot;content accordion&quot; data-accordion=&quot;&quot;&gt;

            &lt;!--  mehrfach dd &gt; a --&gt;

            &lt;dd&gt;
              &lt;a href=&quot;#content1-3&quot; class=&quot;icon-right-open&quot;&gt;C&ocirc;t&eacute; A&eacute;rogare&lt;/a&gt;
              &lt;dl id=&quot;content1-3&quot; class=&quot;level-2 content&quot;&gt;
                &lt;dd&gt;&lt;a href=&quot;#&quot; title=&quot;Services d&CloseCurlyQuote;assistance complets &agrave; l&CloseCurlyQuote;avion&quot;&gt;Services d&CloseCurlyQuote;assistance complets &agrave; l&CloseCurlyQuote;avion&lt;/a&gt;&lt;/dd&gt;
                &lt;!--  mehrfach dd &gt; a --&gt;
              &lt;/dl&gt;
            &lt;/dd&gt;
          &lt;/dl&gt;
        &lt;/dd&gt;
        &lt;!--  ... usw.  --&gt;
      &lt;/dl&gt;
    &lt;/li&gt;
    &lt;div class=&quot;second-part large-12 columns&quot;&gt;
      &lt;ul class=&quot;second-menu&quot;&gt;
        &lt;li class=&quot;icon-right-open book&quot;&gt;
          &lt;a href=&quot;#&quot;&gt;
            &lt;svg version=&quot;1.1&quot; id=&quot;Calque_1&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; x=&quot;0px&quot; y=&quot;0px&quot; width=&quot;37.039px&quot; height=&quot;17.478px&quot; viewBox=&quot;0 0 37.039 17.478&quot; enable-background=&quot;new 0 0 37.039 17.478&quot; xml:space=&quot;preserve&quot;&gt; ... &lt;/svg&gt;Book your handling&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;icon-right-open&quot;&gt;&lt;a href=&quot;contact.php&quot; class=&quot;icon-mail-alt&quot;&gt;contact us&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/ul&gt;
&lt;/aside&gt;
