<section class="shouting">
  <h2>Keine Barrierefreiheit ist ...</h2>
</section>
<section class="shouting-secondary">
  <h2>eine reine Textseite</h2>
</section>

<section class="shouting-secondary">
  <h2>ein Schriftvergrößerungs-Widget</h2>
  <img src="pictures/a11y/schriftskalierer.png" alt="Screenshot eines Schriftvergrößerungswidgets, also 3 A in unterschiedlichen Größen.">
</section>

<section class="shouting-secondary">
  <h2>Suchmaschinenoptimierung</h2>
</section>
