<section class="shouting">
  <h2>Reale Probleme von Menschen mit Behinderungen</h2>
</section>

<section>
  <h2>Ergebnis einer Twitter-Aktion</h2>
  <img src="pictures/a11y/twitter-aktion.png" alt="Der Tweet, der alles startete.">
  <div class="linksToOutside"><a href="https://twitter.com/captainsafia/status/871056480799162368" target="_blank">Der Tweet und der Thread</a> <a href="https://axesslab.com/accessibility-according-to-pwd/" target="_blank">zusammenfassender Artikel</a></div>
</section>

<section class="shouting-secondary">
  <h2>Gehörlose und Schwerhörige vermissen oft Untertitel bei Videos.</h2>
</section>

<section class="shouting-secondary">
  <h2>(Auch subtile) Animationen können die Konzentration (zer)stören.</h2>
</section>

<section class="shouting-secondary">
  <h2>Große Textwüsten</h2>
</section>
<section>
  <p>Viel Text kann ein Problem für Menschen mit schlechter Lesekompetenz sein. Das müssen nicht zwangsweise Ausländer sein. Auch Gehörlose können damit ein Problem haben. </p>
  <p>Und mal nebenbei: wer liest denn gerne viel Text auf dem Bildschirm und sucht nicht sofort nach wenigen Sekunden nach einer Zusammenfassung?</p>
</section>

<section class="shouting-secondary">
  <h2>Kleine Schriften</h2>
</section>
<!-- <section>
  <img src="pictures/a11y/bf-agentur.png" alt="" class="stretch">
</section> -->

<section class="shouting-secondary">
  <h2>Seitenzoom und Schriftzoom machen oft Probleme</h2>
</section>

<section class="shouting-secondary">
  <h2>Zu schwacher Farbkontrast</h2>
</section>
<section>
  <img src="pictures/a11y/schlechter-kontrast-1.jpg" alt="" class="stretch">
</section>
<section>
  <img src="pictures/a11y/schlechter-kontrast-2.jpg" alt="" class="stretch">
</section>

<section class="shouting-secondary">
  <h2>Helle Seiten können insbesondere Menschen mit Migräne körperlich weh tun. </h2>
</section>

<section class="shouting-secondary">
  <h2>Farbkodierte Seitenelemente können Farbenblinde (ca. 10% aller Männer!) meist nicht erkennen.</h2>
</section>
<section>
  <img src="pictures/a11y/rot-gruen-1.png" alt="" class="stretch">
  <img src="pictures/a11y/rot-gruen-1-schwaeche.png" alt="" class="stretch">
</section>
<section>
  <img src="pictures/a11y/rot-gruen-2.png" alt="" class="stretch">
  <img src="pictures/a11y/rot-gruen-2-schwaeche.png" alt="" class="stretch">
</section>
<section>
  <img src="pictures/a11y/rot-gruen-3.png" alt="" class="stretch">
  <img src="pictures/a11y/rot-gruen-3-schwaeche.png" alt="" class="stretch">
</section>
<section>
  <h2>Normalsichtige sehen die Seite so:</h2>
  <img src="pictures/a11y/rot-gruen-4.png" alt="" class="stretch">
</section>
<section>
  <h2>Die Seite für einige Farbfehlsichtige:</h2>
  <img src="pictures/a11y/rot-gruen-4-schwaeche.png" alt="" class="stretch">
</section>

<section class="shouting-secondary">
  <h2>Der Fokus auf die Mausbedienung und Ignoranz gegen Tastaturbedienung.</h2>
</section>

<section class="shouting-secondary">
  <h2>Zu kleine Ziele bei Touchbedienung.</h2>
</section>
<section>
  <img src="pictures/a11y/niedrige-linkflaeche.png" alt="" class="stretch">
  <p>Tablets haben hohe Auflösungen und bekommen auch diese Optik angezeigt. Die Links in der Hauptnavigation haben sehr kleine Abstände für unsere Finger.</p>
</section>

<section class="shouting-secondary">
  <h2>Captchas</h2>
</section>
<section>
  <img src="pictures/a11y/captcha-1.png" alt="" class="stretch">
</section>
<section>
  <img src="pictures/a11y/captcha-2.png" alt="" class="stretch">
</section>
<section>
  <img src="pictures/a11y/captcha-3.png" alt="" class="stretch">
</section>
<section>
  <img src="pictures/a11y/text-in-braille.jpg" alt="" class="stretch">
</section>
