<section class="shouting">
	<h2>Ein paar Screenreader-Beispiele</h2>
</section>

<section>
	<h2>Tabinterface <mark>ohne</mark> ARIA</h2>
	<figure>
		<video width="800" controls>
		  <source src="video/a11y/screenreader-demo-of-tabpanels-without-aria.webm" type="video/webm">
		  <source src="video/a11y/screenreader-demo-of-tabpanels-without-aria.mp4" type="video/mp4">
		</video>
		<figcaption>
			<p class="linksToOutside"><a href="https://youtu.be/0expIJ0ySec" target="_blank">Youtube</a></p>
		</figcaption>
	</figure>
	<aside class="notes">
		<p>Dieses Video stammt von Léonie Watson</p>
	</aside>
</section>

<section>
	<h2>Tabinterface <mark>mit</mark> ARIA</h2>
	<figure>
		<video width="800" controls>
		  <source src="video/a11y/screenreader-demo-of-tabpanels-with-aria.webm" type="video/webm">
		  <source src="video/a11y/screenreader-demo-of-tabpanels-with-aria.mp4" type="video/mp4">
		</video>
		<figcaption>
			<p class="linksToOutside"><a href="https://youtu.be/p42l2ohsQFs" target="_blank">Youtube</a></p>
		</figcaption>
	</figure>
	<aside class="notes">
		<p>Dieses Video stammt von Léonie Watson</p>
	</aside>
</section>

<section>
	<h2>Das <code>lang</code>-Attribut</h2>
	<figure>
		<video width="800" controls>
		  <source src="video/a11y/screenreader-lang-attribute-demo.webm" type="video/webm">
		  <source src="video/a11y/screenreader-lang-attribute-demo.mp4" type="video/mp4">
		</video>
		<figcaption>
			<p class="linksToOutside"><a href="https://youtu.be/ox5QVbZSPBk" target="_blank">Youtube</a></p>
		</figcaption>
	</figure>
	<aside class="notes">
		<p>Dieses Video stammt von Léonie Watson</p>
	</aside>
</section>
