<section class="shouting">
  <h2>Accessibility ist eine Team-Aufgabe. Es ist <mark>kein</mark> reines Entwicklerproblem.</h2>
</section>

<section>
  <h2>Designer, Projektmanager, Konzepter und Entwickler müssen zusammen an der Barrierefreiheit arbeiten.</h2>
</section>

<section>
  <h2>Und bitte den Kunden nicht vergessen!</h2>
</section>

<section>
  <h2>Barrierefreiheit von Anfang an denken!</h2>
  <img src="pictures/a11y/hebeeinrichtung.jpg" alt="Eine Hebeeinrichtung über Treppen." class="stretch">
  <div class="linksToOutside"><a href="http://www.flickr.com/photos/beelzebozo/1503756/" target="_blank">Bildquelle</a></div>
</section>

<section>
  <h2>Es ist keine gute Idee, <strong>einen einzigen Entwickler</strong> für Accessibility verantwortlich zu machen. </h2>
</section>

<section class="shouting-secondary">
  <h2>Accessibility ist eine Team-Aufgabe.</h2>
</section>

<section>
  <img src="pictures/a11y/a11y-guidelines-voxmedia.png" alt="Accessibility-Checklist von Voxmedia">
  <div class="linksToOutside"><a href="http://accessibility.voxmedia.com" target="_blank">zur Website</a></div>
  <p>Mit dieser Checkliste sehen Projektmanager, Designer und Entwickler, welche Aufgaben für sie anstehen können.</p>
</section>

<section>
  <h2>Für Entwickler gilt: </h2>
  <h3>Eine gute, durchdachte HTML-Struktur ist die Basis einer guten, zugänglichen Webseite.</h3>
</section>
