<section class="shouting">
  <h2>Tools</h2>
</section>

<section>
    <h2>Webhint - ein Microsoft-Tool</h2>
    <figure>
        <img src="pictures/a11y/webhint.png" alt="Der Online-Scanner Webhint von Microsoft">
        <figcaption class="linksToOutside"><a href="https://webhint.io/" target="_blank">zum Projekt</a></figcaption>
    </figure>
</section>

<section>
    <h2>Webhint als FF-Plugin</h2>
        <img src="pictures/a11y/webhint-ff.png" alt="Der Online-Scanner Webhint von Microsoft als Firefox-Erweiterung in dessen Devtools." class="stretch">
</section>

<section data-menu-title="Koa11y">
    <figure>
        <img src="pictures/a11y/koa11y.jpg" alt="Die Projektseite des Desktop-Tools Koa11y.">
        <figcaption class="linksToOutside"><a href="https://open-indy.github.io/Koa11y/" target="_blank">zum Projekt</a></figcaption>
    </figure>
</section>

<section data-menu-title="Koa11y Desktop">
    <figure>
        <img src="pictures/a11y/koa11y-desktop.jpg" alt="Das Desktop-Tool Koa11y.">
    </figure>
</section>

<section data-menu-title="Koa11y-Auswertung">
    <figure>
        <img src="pictures/a11y/koa11y-auswertung.jpg" alt="Eine Auswertung aus Koa11y.">
    </figure>
</section>



<section data-menu-title="Axe - das Projekt">
    <figure>
        <img src="pictures/a11y/axe.jpg" alt="Die Projektseite von Axe.">
        <figcaption class="linksToOutside"><a href="https://www.deque.com/products/axe/" target="_blank">zum Projekt</a></figcaption>
    </figure>
</section>

<section data-menu-title="Axe - 1">
    <figure>
        <img src="pictures/a11y/axe-1.jpg" alt="Axe in den Chrome-Dev-Tools bevor man das Tool aktiviert hat.">
    </figure>
</section>

<section data-menu-title="Axe - 2">
    <figure>
        <img src="pictures/a11y/axe-2.jpg" alt="Auswertung von axe.">
    </figure>
</section>

<section data-menu-title="Details der Axe-Auswertung">
    <figure>
        <img src="pictures/a11y/axe-3.jpg" alt="Die Axe-Auswertung im Detail.">
        <figcaption class="linksToOutside"><a href="" target="_blank">Bildquelle</a></figcaption>
    </figure>
</section>


<section data-menu-title="WAVE Toolbar">
    <figure>
        <img src="pictures/a11y/wave-toolbar.jpg" alt="Die Projektseite der WAVE-Toolbar">
        <figcaption class="linksToOutside"><a href="http://wave.webaim.org/toolbar" target="_blank">zum Projekt</a></figcaption>
    </figure>
</section>

<section data-menu-title="IE A11y Toolbar">
    <figure>
        <img src="pictures/a11y/ie-a11y-toolbar.jpg" alt="Die Projektseite der IE-Accessibility-Toolbar.">
        <figcaption class="linksToOutside"><a href="https://developer.paciellogroup.com/resources/wat/" target="_blank">zum Projekt</a></figcaption>
    </figure>
</section>


<section data-menu-title="HTML Codesniffer">
  <h2>Ein Bookmarklet zur Codeanalyse</h2>
    <figure>
        <img src="pictures/a11y/html-codesniffer.png" alt="HTML Codesniffer ist ein Bookmarklet zur Codeanalyse.">
        <figcaption class="linksToOutside"><a href="http://squizlabs.github.io/HTML_CodeSniffer/" target="_blank">zum Projekt</a></figcaption>
    </figure>
</section>


<section data-menu-title="Tools for developing accessible websites">
    <figure>
        <img src="pictures/a11y/tools-for-a11y-1.jpg" alt="Seite mit Tools zur Entwicklung barrierefreier Webseiten.">
        <figcaption class="linksToOutside"><a href="https://bitsofco.de/tools-for-developing-accessible-websites/" target="_blank">zur Webseite</a></figcaption>
    </figure>
</section>
