<section class="shouting-secondary">
  <h2>Wahrnehmbar (Perceivable)</h2>
</section>
<section>
  <h2>Informationen und Bestandteile der Schnittstelle (meist Webseite) müssen den Nutzern so präsentiert werden, dass sie wahrgenommen werden können.</h2>
  <ul>
    <li>Alternativtexte bei Bildern</li>
    <li>Farbkontraste</li>
  </ul>
</section>

<section class="shouting-tertiary">
  <h2>ALT-Attribute bei informativen Bildern</h2>

    <figure>
        <img src="pictures/a11y/alt-tag-2.jpg" alt="Es gibt keinen Alt-Tag!">
        <figcaption class="linksToOutside"><a href="http://cdn.memegenerator.net/instances/500x/47696018.jpg" target="_blank">Bildquelle</a></figcaption>
    </figure>
</section>

<section data-menu-title="">
    <figure>
        <img src="pictures/a11y/alt-text-1.png" alt="">
        <figcaption>Momentaufnahme der Süddeutschen Zeitung</figcaption>
    </figure>
</section>

<section data-menu-title="">
    <figure>
        <img src="pictures/a11y/alt-text-2.png" alt="">
        <figcaption>Momentaufnahme der Süddeutschen Zeitung</figcaption>
    </figure>
</section>

<section data-menu-title="">
    <figure>
        <img src="pictures/a11y/alt-text-3.png" alt="">
        <figcaption>Momentaufnahme der Süddeutschen Zeitung</figcaption>
    </figure>
</section>

<section data-menu-title="">
    <figure>
        <img src="pictures/a11y/alt-text-4.png" alt="">
        <figcaption>Momentaufnahme der Süddeutschen Zeitung</figcaption>
    </figure>
</section>

<section data-menu-title="">
    <figure>
        <img src="pictures/a11y/alt-text-5.png" alt="">
        <figcaption>Momentaufnahme der Süddeutschen Zeitung</figcaption>
    </figure>
</section>

<section data-menu-title="">
  <h2>Bei rein dekorativen Bildern auf den Alt-Text verzichten.</h2>
    <figure>
        <img src="pictures/a11y/alt-text-6.png" alt="">
        <figcaption>Momentaufnahme der Süddeutschen Zeitung</figcaption>
    </figure>
</section>

<section>
  <h2>Was für Bilder gilt, gilt natürlich entsprechend auch für Videos!</h2>
</section>

<section>
  <h2>Untertitel unter einem Video</h2>
  <img src="pictures/a11y/youtube-mit-untertitel.png" class="stretch" alt="">
  <p>Es ist sehr schwer, ein deutschsprachiges Video mit Untertiteln zu finden.</p>
</section>

<section>
  <h2>Transskript zu einem Video</h2>
  <img src="pictures/a11y/youtube-mit-transskript.png" class="stretch" alt="">
  <p>Zumindest gibt es für Deutsche automatisch erstellte Transskripte. Die Rechtschreibung ist dabei eher abenteuerlich.</p>
</section>


<section class="shouting-tertiary">
  <h2>Guter Farbkontrast, nicht #eee auf #fff</h2>
</section>

<section data-menu-title="">
    <figure>
        <img src="pictures/a11y/farbkontrast-2.png" alt="">
    </figure>
</section>
<section data-menu-title="">
    <figure>
        <img src="pictures/a11y/farbkontrast-3.png" alt="">
    </figure>
</section>
<section data-menu-title="">
    <figure>
        <img src="pictures/a11y/farbkontrast-4.png" alt="">
    </figure>
</section>
<section data-menu-title="">
    <figure>
        <img src="pictures/a11y/farbkontrast-5.png" alt="">
    </figure>
</section>
<section data-menu-title="">
    <figure>
        <img src="pictures/a11y/farbkontrast-6.png" alt="">
    </figure>
</section>
<section data-menu-title="">
    <figure>
        <img src="pictures/a11y/schlechter-kontrast-3.png" alt="">
    </figure>
</section>
<section data-menu-title="">
    <figure>
        <img src="pictures/a11y/budget-hotel-bonn.png" alt="">
    </figure>
</section>

<section>
  <h2>Testtool für Farbkontraste - 1</h2>
    <figure>
        <img src="pictures/a11y/farbkontrast-1.png" alt="Tool von Lea Verou zum schnellen Testen von Farbkontrasten.">
        <figcaption class="linksToOutside"><a href="http://leaverou.github.io/contrast-ratio/" target="_blank">Projektseite</a></figcaption>
    </figure>
</section>
<section>
  <h2>Testtool für Farbkontraste - 2</h2>
    <figure>
        <img src="pictures/a11y/checkmycolours.png" alt="Das Tool CheckmyColours testet die Farbkontraste einer ganzen Seite.">
        <figcaption class="linksToOutside"><a href="http://www.checkmycolours.com/" target="_blank">Projektseite</a></figcaption>
    </figure>
</section>


<section class="shouting-tertiary">
  <h2>Farbfehlsichtigkeit</h2>
</section>
<section>
  <h2>Betrifft 8 bis 10% der Männer <br>und 0,5% der Frauen.</h2>
  <div class="linksToOutside"><a href="http://www.colourblindawareness.org/" target="_blank">Projektseite</a></div>
</section>
<section>
  <h2>Klicken Sie auf den roten Button, um abzubrechen!</h2>
  <div class="split" style="margin-bottom: 40px;">
    <div>
      <figure>
        <img src="pictures/a11y/inaccessible-buttons-normal.png" alt="Screenshot zweier rein farbcodierter Buttons, so wie sie nur Normalsichtige sehen." class="stretch">
        <figcaption>Normalsichtige</figcaption>
      </figure>
    </div>
    <div>
      <figure>
        <img src="pictures/a11y/inaccessible-buttons-protanopia.png" alt="Screenshot zweier rein farbcodierter Buttons, so wie sie nur Ferbfehlsichtige mit Protanopia sehen." class="stretch">
        <figcaption>Protanopia</figcaption>
      </figure>
    </div>
  </div>
  <div class="split">
    <div>
      <figure>
        <img src="pictures/a11y/inaccessible-buttons-deuteranopia.png" alt="Screenshot zweier rein farbcodierter Buttons, so wie sie nur Ferbfehlsichtige mit Deuteranopia sehen." class="stretch">
        <figcaption>Deuteranopia</figcaption>
      </figure>
    </div>
    <div>
      <figure>
        <img src="pictures/a11y/inaccessible-buttons-protanomaly.png" alt="Screenshot zweier rein farbcodierter Buttons, so wie sie nur Ferbfehlsichtige mit Protanomalie sehen." class="stretch">
        <figcaption>Protanomalie</figcaption>
      </figure>
    </div>
  </div>
  <div class="linksToOutside"><a href="https://jsbin.com/mazusor/edit?output">zur Testseite</a></div>
</section>

<section data-menu-title="Witzige Statistik zur Farbblindheit">
  <h2>Merken Sie sich das Problem am Besten so:</h2>
    <figure>
        <img src="pictures/a11y/farbblindheit1.jpg" alt="Diese witzige Statistik zur Farbblindheit zeigt farblich nicht unterscheidbare Segmente.">
        <figcaption class="linksToOutside"><a href="snipurl.com/11s6vd" target="_blank">Bildquelle</a></figcaption>
    </figure>
</section>

<section>
  <h2>Farbblindheit im Chrome simulieren</h2>
    <figure>
        <img src="pictures/a11y/farbblindheits-chrome-plugin.png" alt="Das Chrome-Plugin simuliert unterschiedliche Formen der Farbfehlsichtigkeit.">
        <figcaption class="linksToOutside"><a href="https://chrome.google.com/webstore/detail/i-want-to-see-like-the-co/jebeedfnielkcjlcokhiobodkjjpbjia?hl=en-GB" target="_blank">Projektseite</a></figcaption>
    </figure>
</section>
<section>
  <h2>Das Chrome-Plugin in Aktion</h2>
    <figure>
        <img src="pictures/a11y/farbfehlsichtigkeits-test-1.png" alt="Meine eigene Seite mit dem Chrome-Plugin als Protanopia-Betroffener simuliert.">
    </figure>
</section>
<section>
  <h2>Farbtool für Karten</h2>
    <figure>
        <img src="pictures/a11y/colorbrewer.png" alt="ColorBrewer hilft, barrierefreie Farbpaletten für Karten zusammenzustellen.">
        <figcaption class="linksToOutside"><a href="http://colorbrewer2.org/" target="_blank">Projektseite</a></figcaption>
    </figure>
</section>
<section>
  <h2>Artikel zu Farbpaletten</h2>
    <figure>
        <img src="pictures/a11y/artikel-zu-farbpaletten.png" alt="">
        <figcaption class="linksToOutside"><a href="https://www.vis4.net/blog/2011/11/goodbye-redgreen-scales/" target="_blank">zum Artikel</a></figcaption>
    </figure>
</section>
