<section class="shouting">
  <h2>Die WCAG 2</h2>
</section>
<section>
  <h2>Die 4 Grundprinzipien</h2>
  <ol style="list-style-type: none; padding-left: 0; margin-left: 0;">
    <li style="margin-bottom: 10px;"><span style="background-color: #a20000; color: #fff; display: inline-block; padding: 4px 12px; margin-right: 20px">1</span>Perceivable (Wahrnehmbar)</li>
    <li style="margin-bottom: 10px;"><span style="background-color: #0077B5; color: #fff; display: inline-block; padding: 4px 12px; margin-right: 20px">2</span>Operable (Bedienbar)</li>
    <li style="margin-bottom: 10px;"><span style="background-color: #821544; color: #fff; display: inline-block; padding: 4px 12px; margin-right: 20px">3</span>Understandable (Verständlich)</li>
    <li style="margin-bottom: 10px;"><span style="background-color: #00428E; color: #fff; display: inline-block; padding: 4px 12px; margin-right: 20px">4</span>Robust (Robust)</li>
  </ol>
</section>

{% include "./wcag2-1-wahrnehmbar.njk" %}
{% include "./wcag2-1-bedienbar.njk" %}
{% include "./wcag2-1-verstaendlich.njk" %}
{% include "./wcag2-1-robust.njk" %}