
<section class="shouting-secondary">
  <h2>Robust (Robust)</h2>
</section>

<section>
  <h2>Die Schnittstelle muss auch in der Zukunft noch bedienbar und zugänglich sein.</h2>
  <ul>
    <li>Schreiben Sie validen Code.</li>
    <li>Geben Sie Formularelementen ein Label.</li>
  </ul>
</section>

<section class="shouting-tertiary">
  <h2>Valider Code ist zukunftssicher.</h2>
</section>

<section>
  <h2>In aktuellen Endgeräten testen</h2>
  <figure>
      <img src="pictures/a11y/many-devices.jpg" alt="Eine zeimlich große Auswahl an Laptops und mobilen Endgeräten liegt aufgefächert auf dem Boden.">
      <figcaption>Das kennen wir von Responsive Webdesign!</figcaption>
  </figure>
</section>

<section class="shouting-tertiary">
  <h2>Semantische Struktur</h2>
</section>

<section>
  <h2>Überschriften werden wohl überbewertet</h2>
    <figure>
        <img src="pictures/a11y/stern-ohne-headline.png" alt="">
        <figcaption>Momentaufnahme des Stern</figcaption>
    </figure>
</section>

<section>
  <h2>So ist es schon besser</h2>
    <figure>
        <img src="pictures/a11y/stern-bessere-headlines.png" alt="">
        <figcaption>Momentaufnahme des Stern</figcaption>
    </figure>
</section>

<section>
  <h2>Überschriften können von Screenreader-Nutzern als Inhaltsverzeichnis genutzt werden.</h2>
</section>

<section>
  <h2>Überschriftenstruktur bei der FAZ</h2>
    <figure>
        <img src="pictures/a11y/faz-headlines-1.png" alt="Screenshot der FAZ mit einem Bookmarklet, das alle Überschriften auflistet. Leider ist das Bookmarklet schölecht bedienbar.">
    </figure>
</section>
