<section class="shouting">
  <h2>Zugänglichkeit (Acccessibility) statt Barrierefreiheit</h2>
</section>
<section>
  <p>Wir müssen gar keine spezifische Behinderung haben, um eine Webseite <strong style="color: #a20000;">un</strong>zugänglich (und nervig) zu finden.</p>
</section>

<section data-menu-title="Such den Artikel">
    <img src="pictures/a11y/the-mobile-web.png" alt="Der eigentliche Artikel ist auf dem Smartphone durch lauter Zusatzinfos überdeckt." class="stretch">
    <div class="linksToOutside"><a href="https://pbs.twimg.com/media/DABTZY3XsAUTiiP.png" target="_blank">Bildquelle</a></div>
</section>

<section class="shouting-tertiary">
  <h2>Diese Satire ist überhaupt nicht übertrieben!</h2>
</section>
<section data-menu-title="Such den Artikel">
    <img src="pictures/a11y/such-den-artikel.png" alt="Der eigentliche Artikel ist auf dem Smartphone durch lauter Zusatzinfos überdeckt." class="stretch">
</section>

<section data-menu-title="Popup über Seite">
  <img src="pictures/a11y/finanzen-popup.png" alt="Ein Popup liegt über der Seite. Die gewünschte Aktion ist nicht eindeutig." class="stretch">
  <p>Klicke ich die Checkbox an und dann "OK" oder doch "Abbrechen"?</p>
</section>

<section data-menu-title="Video Overlay, das nicht beendet werden kann">
  <img class="stretch" src="pictures/a11y/finanzen-werbung-ohne-close.png" alt="">
  <p>Das Video-Overlay kann ich nicht beenden und es geht auf meinen Volumentarif!</p>
</section>

<section data-menu-title="Text über Bild">
  <img class="stretch" src="pictures/a11y/text-ueberdeckt-bild.png" alt="Text, der erklärt, wer auf einem Bild zu sehen ist, liegt über dem Bild, sodass man es nicht richtig erkennen kann.">
</section>

<section data-menu-title="Text über Bild">
  <h2>Aus der Praxis</h2>
  <img class="stretch" src="pictures/cybercon/cookie-layer.png" alt="Der leider notwendige Layer, die nicht abstellbaren Cookies anzukündigen.">
</section>

<section data-menu-title="Schichtenweise Ärgernisse">
  <img class="stretch" src="pictures/a11y/kicker-popup.png" alt="">
  <p>Nachdem ich das Overlay weggeklickt habe, darf ich den Hinweis auf die App wegklicken. Dessen Button ist miserabel zu treffen.</p>
</section>

<section data-menu-title="Widget überdeckt Text">
  <img class="stretch" src="pictures/a11y/suse-ueberdeckter-text.png" alt="Ein Widget fordert mich zum Telefonat auf und verdeckt dabei Text.">
  <p>Ich möchte mich eventuell nicht unterhalten, sondern den vom Stockfoto verdeckten Text lesen.</p>
</section>
