<section class="shouting">
    <h2>Arbeitsumgebung</h2>
</section>

<section>
    <h2>Es ist eher unüblich, ganze Seiten nur mit HTML und CSS zu schreiben.</h2>
</section>

<section>
    <ul class="keywords__list">
        <li>CMS</li>
        <li>PHP, Java, Ruby ...</li>
        <li>node.js</li>
        <li>Sass, Less, Stylus</li>
        <li>Pug, Nunjucks, Handlebars</li>
        <li>Statische Seitengeneratoren</li>
        <li>Angular, React, Vue.js</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>
