<section class="shouting">
    <h2>Eine kleine Aufgabe</h2>
</section>

<section>
    <p>Gestalten Sie eine Fläche, zwei Boxen und positionieren Sie diese wie im Bild dargestellt. Als Zusatz können Sie beim Überfahren des Containers <code>.vorne</code> die Hintergrundfarbe des Containers <code>.hinten</code> in <code>#a20000</code> ändern.</p>
    <img class="stretch" src="pictures/frontend/testaufgabe-positionierung.png" alt="Angestrebtes Endergebnis der Testaufgabe">
    <div class="linksToOutside"><a href="https://codepen.io/jensgro/pen/Euwvi" target="_blank">Codepen</a> <a href="https://jsbin.com/buqural/edit?html,output" target="_blank">JS Bin</a></div>
</section>
