<section class="shouting">
    <h2>Eine kleine Aufgabe</h2>
</section>

<section>
    <h2>Was kommt am Ende raus?</h2>
<pre><code class="html">&lt;h1 class="specificity"&gt;Beispiel Headline&lt;/h1&gt;</code></pre>    
<pre style="border-top: 4px solid #666; padding-top: 10px; margin-top: 10px;"><code class="css">h1.specificity:not(#spezi) { color: blue;}

h1.specificity:not(.spezi) { color: maroon;}

h1.specificity:not(h1#spezi) { color: yellow;}

h1.specificity { color: #000;}

.specificity { color: green;}</code></pre>
    <div class="linksToOutside"><a href="https://codepen.io/jensgro/pen/MaqRpG" target="_blank">Codepen</a></div>
</section>
