<section class="shouting">
    <h2>Eine kleine Aufgabe</h2>
</section>

<section>
    <p>Experimentieren Sie bitte mit den Eigenschaften der Box, um eine solche Optik zu erreichen:</p>
    <img class="stretch" src="pictures/frontend/eigenschaften-der-box-anwenden.png" alt="Screenshot der Testaufgabe">
    <div class="linksToOutside"><a href="https://codepen.io/jensgro/pen/NQvGRw?editors=1100" target="_blank">Codepen</a> <a href="https://jsbin.com/jujilis/edit?html,output" target="_blank">JS Bin</a></div>
</section>
