<section class="shouting">
    <h2>Eine kleine Aufgabe</h2>
</section>

<section>
    <p>Experimentieren Sie bitte mit Floats und Positionierung der Absätze:</p>
    <img class="stretch" src="pictures/frontend/testaufgabe-dokumentenfluss.png" alt="Screenshot der Testaufgabe">
    <div class="linksToOutside"><a href="https://codepen.io/jensgro/pen/jCmbI" target="_blank">Codepen</a> <a href="https://jsbin.com/pugira/edit?output" target="_blank">JS Bin</a></div>
</section>
