<section class="shouting">
    <h2>Eine kleine Aufgabe</h2>
</section>

<section>
    <p>Erstellen Sie bitte aus der unten verlinkten Vorlage dieses Grid:</p>
    <img class="stretch" src="pictures/grid/ein-einfaches-grid.png" alt="Screenshot der Testaufgabe">
    <div class="linksToOutside"><a href="https://codepen.io/jensgro/pen/oKEPRX" target="_blank">CodePen</a> <a href="https://jsbin.com/giyiheb/edit?html,css,output" target="_blank">JS Bin</a></div>
</section>
