<section class="shouting">
	<h2>Ein paar Übungen</h2>
</section>

<section class="shouting-exercise">
	  <h2>Spielen Sie ein wenig mit <code>:before</code> und <code>:after</code></h2>
	  <p>Erstellen Sie sich eine kleine Liste oder einen kurzen Absatz und spielen Sie mit den Pseudoelementen.</p>
	  <ul>
	    <li>Experimentieren Sie mit unterschiedlichen Richtungen für die Dreiecke und mit unterschiedlichen border-Breiten.</li>
	    <li>Was passiert, wenn Sie die sichtbare Border dicker oder dünner als die unsichtbaren machen?</li>
	    <li>Erstellen Sie einen Kreis.</li>
	    <li>Erstellen Sie einen Kreis mit Loch. Tipp: Kombinieren Sie dafür beide Pseudoelemente.</li>
	    <li>Können Sie die Pseudoelemente auch mit transition oder transform bearbeiten?</li>
	  </ul>
      <div class="linksToOutside"><a href="https://codepen.io/jensgro/pen/yactj" target="_blank">Codepen mit Blindtexten</a></div>
</section>
