<section class="shouting">
    <h2>Eine kleine Aufgabe</h2>
</section>

<section>
    <p>Wenn wir eine Webseite erstellen, fangen wir nie mit der Gestaltung an. Als Erstes werden die Inhalte passend ausgezeichnet. Üben Sie dies an einer Blog-Simulation:</p>
    <img class="stretch" src="pictures/frontend/testaufgabe-blog.png" alt="Mögliches Endergebnis der Testaufgabe">
    <div class="linksToOutside"><a href="https://codepen.io/jensgro/pen/Lwyqrw?editors=1000" target="_blank">Codepen</a> <a href="https://jsbin.com/lexipeb/1/edit?html,output" target="_blank">JS Bin</a></div>
</section>
