<section class="shouting">
    <h2>Eine kleine Aufgabe</h2>
</section>

<section>
    <p>Gestalten Sie diese Sammlung von HTML-Elementen mit CSS-Selektoren.</p>
    <img class="stretch" src="pictures/frontend/testaufgabe-selektoren.png" alt="Ungestaltete Testaufgabe">
    <div class="linksToOutside"><a href="https://codepen.io/jensgro/pen/bXpPzr?editors=1000" target="_blank">Codepen</a> <a href="https://jsbin.com/gukorux/edit?html,output" target="_blank">JS Bin</a></div>
</section>
