<section class="shouting">
    <h2>Browser</h2>
</section>

<section>
    <figure>
        <img src="pictures/frontend/this-is-the-web.png" alt="">
    </figure>
</section>

<section>
    <figure>
        <img src="pictures/frontend/this-will-bethe-web.png" alt="">
    </figure>
</section>

<section>
    <h2>Dominanzen</h2>
    <p>Aktuell dominiert Chrome die Landschaft. Dessen Engine <mark>Blink</mark> basiert auf <mark>Webkit</mark>, das zu Beginn eine Linux-Entwicklung war (KDE). Webkit treibt nur noch Safari (macOS und iOS) an. </p>
    <p>Blink wird auch von Opera und Vivaldi genutzt. Es gibt aber keine zwangsweise Parität in der Engine-Version zwischen diesen Browsern.</p>
    <p>Ausserdem gibt es noch Chromium, das die Basis des Android-Browser und weiterer unterschiedlicher <mark>Browser auf Android</mark> ist. Demnächst treibt es auch MS Edge an.</p>
</section>

<section>
    <h2>Nichts ist von Dauer</h2>
    <p>Als der IE6 weit über 90% Marktanteil hatte, konnte sich niemand einen Bruch des Browsermonopols von Microsoft vorstellen.</p>
    <p>Es ist deshalb sehr kurzsichtig, sich nur auf Chrome zu konzentrieren und alle anderen links liegen zu lassen.</p>
    <p>Der IE ist in großen Firmennetzwerken und Behörden noch länger von Bedeutung. Auch für Screenreadernutzer wird er weiterhin wichtig bleiben. Und: <mark>der IE wird nicht weiterentwickelt.</mark></p>
</section>

<section class="shouting-secondary">
    <h2>Wegen unterschiedlicher Fähigkeiten: Progressive Enhancement</h2>
    <figure>
        <img src="pictures/frontend/rolltreppe.jpg" alt="">
    </figure>
</section>

<section>
    <h2>Es wird niemals gleiche und perfekte Browser geben!</h2>
    <ol class="large-text">
        <li>Ein Browser beherrscht ein Feature <mark>nicht</mark>.</li>
        <li>Es gibt einen <mark>Browser-Bug</mark>.</li>
        <li>Ein Browser beherrscht <mark>alle Teile</mark> eines Features.</li>
        <li>Ein Browser beherrscht <mark>nur Teile</mark> eines Features.</li>
    </ol>
</section>
