<section class="shouting">
    <h2>Die Kaskade</h2>
</section>
<section class="shouting-secondary">
    <h2>Wer zuletzt kommt, siegt!</h2>
</section>

<section>
    <pre><code class="css x-large-text">p {
	color: #000;
	background-color: #cecece;
	padding: 10px;
}

/* ... Code dazwischen ... */

p {
	color: #a20000;
}</code></pre>
</section>

<section class="shouting-exercise">
    <h2>Welche Hintergrundfarbe haben die beiden <code>DIV</code>s?</h2>
    <pre><code class="html">
        &lt;div class=&quot;red blue&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;blue red&quot;&gt;&lt;/div&gt;
    </code></pre>
    <pre><code class="css">
        .red { background-color: red;}
        .blue {background-color: blue;}
    </code></pre>
</section>
