<section class="shouting">
    <h2>CSS is (really) awesome!</h2>
</section>
<section>
    <h2>"Problemfall": der Inhalt sprengt den Rahmen</h2>
    <img src="pictures/frontend/css-is-awesome.jpg" alt="CSS is awesome" class="stretch">
</section>
<section>
    <h2>4 Möglichkeiten, um aus der Situation herauszukommen</h2>
    <ol>
        <li class="fragment">Der umgebende Container wächst mit seinem Inhalt.</li>
        <li class="fragment">Der Inhalt schrumpft, um in den Container zu passen.</li>
        <li class="fragment">Der Inhalt wird abgeschnitten, um in den Container zu passen.</li>
        <li class="fragment">Es gibt einen Overflow, damit der Container in der Größe bleibt, der Inhalt durch eine Scrollbar aber unverändert erreichbar ist.</li>
    </ol>
</section>
<section class="shouting-secondary">
    <h2>Jede dieser Strategien sind mit CSS möglich, nur nicht zwangsweise für jedes Element. </h2>
</section>
