<section class="shouting">
    <h2>CSS - die Seite hübsch machen</h2>
    <img src="pictures/frontend/css-is-awesome.jpg" alt="CSS is awesome" class="stretch">
</section>

<section>
    <h2>Grundsätzliche Element-Typen</h2>
    <ol>
        <li>Inline Element</li>
        <li>Inline-Block Element</li>
        <li>Block Element</li>
        <li>Tabelle</li>
        <li>Formular</li>
        <li>ersetztes Element</li>
        <li>Pseudoelement</li>
    </ol>
</section>

<section>
    <h2>Der Aufbau einer Regel</h2>
    <figure>
        <img src="pictures/frontend/css-terminologie.png" alt="Schematische Darstellung des Aufbaus einer CSS-Regel.">
        <div class="linksToOutside"><a href="https://codepen.io/jensgro/full/nFwdH" target="_blank">zur Codepen-Seite</a></div>
    </figure>
</section>
