<section class="shouting">
    <h2>Es gibt drei Frontend-Sprachen</h2>
</section>
<section class="shouting-tertiary">
    <h2><mark>HTML</mark> strukturiert den Inhalt einer Seite und gibt ihm Sinn.</h2>
</section>
<section class="shouting-tertiary">
    <h2><mark>CSS</mark> macht im günstigsten Fall die Seite hübsch. Es gibt der Seite Layout und Design.</h2>
    <ol class="large-text">
        <li><mark>Layout</mark>: horizontale und vertikale Verteilung von Seitenbestandteilen</li>
        <li><mark>Design</mark>: die Optik der Seitenbestandteile ("hübsch machen")</li>
    </ol>
</section>
<section class="shouting-tertiary">
    <h2><mark>JavaScript</mark> bringt Dynamik in die Seite.</h2>
</section>

