<section class="shouting">
    <h2>Formulare</h2>
</section>

<section>
    <pre><code class="html">
&lt;div class=&quot;formcnt&quot;&gt;&#10;    &lt;label for=&quot;id-1&quot;&gt;Label f&uuml;r das Formularelement&lt;/label&gt;&#10;    &lt;input type=&quot;text&quot; id=&quot;id-1&quot; placeholder=&quot;Platzhaltertext&quot;&gt;&#10;&lt;/div&gt;&#10;&lt;div class=&quot;formcnt&quot;&gt;&#10;    &lt;label for=&quot;id-2&quot;&gt;Label f&uuml;r das Formularelement&lt;/label&gt;&#10;    &lt;input type=&quot;email&quot; id=&quot;id-2&quot; placeholder=&quot;email@domain.de&quot;&gt;&#10;&lt;/div&gt;
    </code></pre>
    <div class="linksToOutside"><a href="https://codepen.io/jensgro/full/MYgLeq" target="_blank">alle Formularelemente</a></div>
</section>

<section class="shouting-secondary">
    <h2>Formularelemente kommen immer in Begleitung eines Labels!</h2>
</section>

<section>
    <h2>Strukturierung</h2>
    <ol>
        <li>Formularelemente passen semantisch nicht in <code>p</code>-Tags.</li>
        <li><code>DIV</code> erscheint angebracht.</li>
        <li>Größere Formulare kann man mittels <code>fieldset</code> und <code>legend</code> strukturieren. Das Styling ist dann aber keine Freude.</li>
    </ol>
</section>

<section>
    <h2>Eingebaute Validierung</h2>
    <p>Manche Formularelemente besitzen eingebaute Validierungsregeln. Die können jederzeit mit einer eigenen Regex überschrieben werden.</p>
    <p>Dank HTML5 gibt es eine Validierungs-API, die man nutzen kann. Es muss nicht jeder sein eigenes Validierungsskript schreiben.</p>
</section>
<section class="shouting-secondary">
    <h2>Auch 2019 sehen die Formularelemente <mark>nicht</mark> in allen Browsern gleich aus, lassen sich identisch bedienen oder sind gar in allen Screenreadern gleichmäßig gut implementiert. Leider.</h2>
</section>

<section>
    <h2>So können Formulare auch aussehen</h2>
    <figure>
        <img src="pictures/frontend/sitzplan-formular.png" class="flexible" alt="Ein angedeutetes Sitzplatzformular, dem man das Formular nicht direkt ansieht.">
        <figcaption class="linksToOutside"><a href="https://codepen.io/jensgro/pen/DqCxA" target="_blank">zum Codepen</a></figcaption>
    </figure>
</section>

<section class="shouting-secondary">
    <h2>Aufgabe</h2>
    <h3>Bauen Sie ein Formular mit Namen- und Adressfeldern.</h3>
    <p>Wir werden das dann später gestalten, wenn wir CSS kennen.</p>
</section>
