<section class="shouting">
    <h2>Tabellen</h2>
</section>

<section>
    <h2>Einzelne Ebenen einer Tabelle</h2>
    <pre><code class="html">
<table>
    <thead>
        <!-- ..... -->
    </thead>
    <tbody>
        <!-- ..... -->
    </tbody>
    <tfoot>
        <!-- ..... -->
    </tfoot>
</table>
    </code></pre>
</section>

<section>
    <h2>Der Tabellenkopf</h2>
    <pre><code class="html">
<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
        <!-- ..... -->
</table>
    </code></pre>
</section>


<section>
    <h2>Der Tabellen-Body</h2>
    <pre><code class="html">
<table>
        <!-- ..... -->
    <tbody>
        <tr>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>
    </tbody>
    <!-- ..... -->
</table>
    </code></pre>
</section>


<section>
    <h2>Der Tabellen-Fuss</h2>
    <pre><code class="html">
<table>
    <thead>
        <!-- ..... -->
    </thead>
    <tbody>
        <!-- ..... -->
    </tbody>

    <tfoot>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>
    </code></pre>
</section>

<section class="shouting-secondary">
    <h2>Und Tabellen sehen so aus, wie wir es erwarten, weil CSS dafür sorgt. <br>Diese Regeln kann man überschreiben.</h2>
</section>

<section>
    <h2>Die CSS-Eigenschaften einer Tabelle</h2>
    <pre><code class="css">
table {display: table;}

thead {display: table-header-group;}
tbody {display: table-row-group;}
tfoot {display: table-footer-group;}
tr {display: table-row;}
td, th {display: table-cell;}

caption {display: table-caption;}        
colgroup {display: table-column-group;}
col {display: table-column;}
    </code></pre>
    <div class="linksToOutside"><a href="https://wiki.selfhtml.org/wiki/CSS/Eigenschaften/Anzeige/display/Tabelle">Infos dazu bei SELFHTML</a></div>
</section>