<section class="shouting">
    <h2>Bilder</h2>
</section>

<section>
    <h2>Basics</h2>
    <pre><code class="html x-large-text">
&lt;img src="http://lorempizza.com/300/300"
       alt="Ein toller Alternativtext">
    </code></pre>
    <pre><code class="html x-large-text">&lt;a href="produkte.html">
  &lt;img src="icon.gif" alt="">
  Produktübersicht
&lt;/a></code></pre>
<p>Ist ein Bild nur schmückendes Beiwerk, kann der Alt-Text leergelassen werden. Aber bitte nicht gleich das ganze Alt-Attribut entfernen.</p>
</section>

<section>
    <img src="pictures/frontend/alt-tag.jpg" class="stretch" alt="Es gibt keinen Alt-Tag!">
</section>

<section>
    <h2>Ein Bild in einem Figure-Element</h2>
    <pre><code class="html large-text">
&lt;figure>

  &lt;img src="http://lorempizza.com/300/300"
       alt="Ein toller Alternativtext">

  &lt;figcaption>
    &lt;p>Ein toller Beschreibungstext für
       das Bild innerhalb des
       &lt;code>figure&lt;/code>-Elements&lt;/p>
  &lt;/figcaption>

&lt;/figure>
    </code></pre>
</section>
