<section class="shouting">
    <h2>Die wahrscheinlich in der Praxis wichtigsten Elemente/Tags</h2>
</section>

<section>
    <h2>Sektionierung</h2>
<pre><code class="html">
    &lt;div&gt; <!-- ohne Bedeutung --> &lt;/div&gt;
    &lt;span&gt; <!-- ohne Bedeutung, innerhalb eines Satzes --> &lt;/span&gt;

    &lt;article&gt; <!-- ein eigener Sinnzusammenhang --> &lt;/article&gt;
    &lt;section&gt; <!-- ein eigener Sinnzusammenhang --> &lt;/section&gt;
    &lt;main&gt; <!-- Der Hauptteil einer Seite --> &lt;/main&gt;
    
    &lt;header&gt; <!-- Der Kopfteil eines Abschnittes --> &lt;/header&gt;
    &lt;footer&gt; <!-- Der Fussteil eines Abschnittes --> &lt;/footer&gt;
</code></pre>

</section>

<section>
    <h2>Inhalte - 1</h2>
<pre><code class="html">
    &lt;p&gt; <!-- ein Absatz --> &lt;/p&gt;
    &lt;abbr&gt; <!-- eine Abkürzung --> &lt;/abbr&gt;
    &lt;img&gt; <!-- ein Bild und OHNE Endtag!!! --> 
    &lt;blockquote&gt; <!--  ein längeres Zitat --> &lt;/blockquote&gt;
    &lt;cite&gt; <!-- ein kurzes Zitat oder der Zitatgeber --> &lt;/cite&gt;
    &lt;code&gt; <!-- Quellcode wird zur Dokumentation umfasst --> &lt;/code&gt;
    &lt;time&gt; <!-- Zeit, dabei ist das Attribut wichtig --> &lt;/time&gt;
    &lt;video&gt; <!-- Wrapper für ein Video --> &lt;/video&gt;
    &lt;audio&gt; <!-- Wrapper für ein Tondokument --> &lt;/audio&gt;
</code></pre>

</section>
<section>
    <h2>Inhalte - 2</h2>
<pre><code class="html">
    &lt;mark&gt; <!--  Inhalt wird markiert--> &lt;/mark&gt;
    &lt;em&gt; <!-- etwas hervorheben --> &lt;/em&gt;
    &lt;strong&gt; <!-- etwas stark hervorheben --> &lt;/strong&gt;
    &lt;span&gt; <!-- etwas umfassen, ohne Bedeutung  --> &lt;/span&gt;
    &lt;pre&gt; <!-- unformatierte Darstellung --> &lt;/pre&gt;
    &lt;s&gt; <!-- durchstreichen --> &lt;/s&gt;
    &lt;sub&gt; <!-- niedriggestellt - siehe chemische Formel --> &lt;/sub&gt;
    &lt;sup&gt; <!-- hochgestellt - siehe Quadratwurzel in Mathe --> &lt;/sup&gt;
</code></pre>

</section>

<section>
    <h2>Listen</h2>
<pre><code class="html">
    &lt;ul&gt; <!-- eine unsortierte Liste --> &lt;/ul&gt;
    &lt;ol&gt; <!-- eine sortierte (bspw. nummerierte) Liste --> &lt;/ol&gt;
    &lt;li&gt; <!-- ein Listenelement --> &lt;/li&gt;

    &lt;dl&gt; <!-- Definitionsliste --> &lt;/dl&gt;
    &lt;dt&gt; <!-- zu definierender Terminus --> &lt;/dt&gt;
    &lt;dd&gt; <!--  Definition --> &lt;/dd&gt;
</code></pre>

</section>

<section>
    <h2>Tabellen</h2>
<pre><code class="html">
    &lt;table&gt; <!-- eine Tabelle (Wrapper für die Inhalte) --> &lt;/table&gt;
    &lt;thead&gt; <!-- Kopf der Tabelle --> &lt;/thead&gt;
    &lt;tbody&gt; <!-- Hier steht der Inhalt --> &lt;/tbody&gt;
    &lt;tfoot&gt; <!-- Fuss der Tabelle, selten genutzt --> &lt;/tfoot&gt;
    
    &lt;tr&gt; <!-- eine Tabellenzeile --> &lt;/tr&gt;
    &lt;td&gt; <!-- eine Tabellenzelle --> &lt;/td&gt;
</code></pre>

</section>

<section>
    <h2>Sehr gute Dokumentation</h2>
    <img src="pictures/frontend/devdocs.png" class="stretch" alt="Seite von devdocs.io">
    <div class="linksToOutside"><a href="http://devdocs.io" target="_blank">devdocs</a></div>
</section>
