<section class="shouting">
    <h2>Navigation</h2>
</section>

<section>
    <h2>Basics</h2>
    <pre><code class="html">
&lt;nav class=&quot;main-nav&quot;&gt;
  &lt;ul class=&quot;main-nav__list&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Projektbegleitung und Coaching&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Training und Know How-Transfer&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Audit und Review&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Werkzeuge und Entwicklungsprozesse&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Organisation und Prozesse&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
  &lt;&#x2F;ul&gt;
&lt;&#x2F;nav&gt;
    </code></pre>
</section>

<section>
    <p>Das <code>nav</code>-Element gibt der Liste einen Sinn über die reine Liste hinaus. Es ist dadurch eine spezielle Liste von Links. In einem Screenreader kann das angesagt werden.</p>
    <p>Für den Entwickler wird der Code dadurch lesbarer.</p>
</section>

<section>
    <h2>Nicht alles ist eine Navigation</h2>
    <p>Ganz dezidiert sind Linklisten im Footer einer Seite, Linklisten in Teaserboxen und Paging-Module <mark>keine Navigation</mark>. Das schreibt das W3C direkt mit Beispielen in den Standard. Es soll verhindert werden, dass ein großer Teil der Seite aus Navigationen besteht.</p>
</section>

