<section>
    <figure>
        <img src="pictures/frontend/kannste-so-machen.jpg" alt="">
    </figure>
</section>


<section>
    <figure>
        <img src="pictures/frontend/chrome-sf.png" alt="">
    </figure>
</section>

<section>
    <figure>
        <img src="pictures/frontend/css3-logo.png" alt="">
    </figure>
</section>

<section>
    <h2>POSH (Plain Old Semantic HTML)</h2>
    <figure>
        <img src="pictures/frontend/decent-markup.jpg" alt="" style="transform: scale(1.5) translateY(25%);">
    </figure>
</section>



