<section class="shouting">
    <figure>
        <img src="pictures/frontend/ichkommeauseinerwelt.jpg" alt="">
    </figure>
</section>

<section class="shouting-tertiary">
    <div class="split">
        <div>
            <blockquote>
                <p class="x-large-text">The browser is a hostile environment!</p>
                <footer>
                    <cite>Douglas Crockford</cite>
                </footer>
            </blockquote>
        </div>
        <div>
            <img src="pictures/frontend/die-drei-ampersands.png" alt="Die drei Ampersands und der untote Browser.">
        </div>
    </div>
</section>

<section>
    <h2>Früher ...</h2>
    <ul>
        <li>Editor auf</li>
        <li>HTML schreiben</li>
        <li>CSS ergänzen</li>
        <li>JS irgendwoher kopieren und modifizieren</li>
        <li>FTP auf den Server</li>
    </ul>
</section>

<section>
    <h2>Heute ...</h2>
    <ul>
        <li>npm init / yarn init</li>
        <li>Webpack, Grunt, Gulp?</li>
        <li>HTML Templatesprache auswählen und nutzen</li>
        <li>SASS aufbauen und Basics aus altem Projekt kopieren</li>
        <li>Webpack mehrfach umkonfigurieren und Stackoverflow bemühen</li>
        <li>React, Vue, jQuery?</li>
        <li>Git? Wo?</li>
        <li>Deployment einrichten</li>
        <li>Im Styleguide entwickeln?</li>
        <li>...</li>
    </ul>
</section>

<section class="shouting-secondary">
    <h2>Wir wissen nichts!</h2>
</section>
<section>
    <h2>Wir wissen nicht mit welcher Art Computer jemand unsere Seite besucht. </h2>
</section>
<section>
    <h2>Wir wissen nicht, welchen Monitor mit welcher Auflösung unser Besucher hat.</h2>
</section>
<section>
    <h2>Wir wissen nicht, welche Fähigkeiten der Browser des Besuchers hat.</h2>
</section>
<section>
    <h2>Wir wissen nicht, in welcher Größe das Browserfenster unseres Nutzers ist.</h2>
</section>
<section>
    <h2>Wir wissen nicht, WO ein Besucher unsere Seite sieht. </h2>
</section>
<section>
    <h2>Wir wissen nicht, welche Sprachen unser Besucher spricht (und wie gut).</h2>
</section>
<section>
    <h2>Wir wissen nicht, ob unser Besucher eine Behinderung hat.</h2>
</section>
<section>
    <h2>Wir wissen nicht, wie geübt der Benutzer mit dem Computer - speziell im Internet - ist.</h2>
</section>
<section class="shouting-secondary">
    <h2>HTML ist simpel! <br>
Aber nicht der Kontext!</h2>
</section>
<section class="shouting-tertiary">
    <h2>Als Backendentwickler hat man <mark>einen bekannten Endgegner</mark>, der auch noch 100% der Sprache beherrscht.</h2>
</section>
<section class="shouting-tertiary">
    <h2>Als Frontendentwickler hat man <mark>unzählige unbekannte Endgegner</mark>, die niemals annähernd 100% der Sprachen beherrschen und dazu noch Fehler (Bugs) haben.</h2>
</section>
