<section class="shouting">
    <h2>RWD und A11y - zwei Seiten der selben Medaille</h2>
    <h3>Responsive Webdesign und Accessibilty (Barrierefreiheit)</h3>
</section>

<section>
    <h2>Es sollte im ureigensten Interesse jedes Seitenbetreibers liegen, die eigenen Inhalte möglichst vielen Nutzern zuzgänglich zu machen.</h2>
</section>

<section>
    <figure>
        <img src="pictures/frontend/this-is-the-web.png" alt="">
    </figure>
</section>

<section>
  <img src="pictures/frontend/behinderungsformen.png" alt="Behinderungen können permanent, vorübergehend und situationsbezogen sein." class="stretch">
</section>

<section>
  <img src="pictures/frontend/inclusive-design-3.png" alt="Eine Darstellung unterschiedlicher Arten von Behinderungen." class="stretch">
</section>
