<section>
		<h2>Das war's!</h2>
		<figure>
			<img src="pictures/general/klatsch-klatsch-klatsch.jpg" alt="" class="flexible">
			<figcaption class="linksToOutside">
				<ul class="list--horizontal list--slash">
					<li><a href="http://grochtdreis.de" target="_blank">Grochtdreis.de</a></li>
					<li><a href="https://twitter.com/flocke" target="_blank">Twitter</a></li>
					<li><a href="http://grochtdreis.de/weblog" target="_blank">Mein Blog</a></li>
					<li><a href="https://speakerdeck.com/flocke" target="_blank">Speakerdeck</a></li>
					<li><a href="http://webkrauts.de" target="_blank">Webkrauts</a></li>
				</ul>
			</figcaption>
		</figure>
</section>
