<section>
		<h2>Das war's!</h2>
		<div class="split">
			<div>
				<img src="pictures/general/grochtdreis_outdoor-12.jpg" alt="" style="width: auto; height: 80%;">
			</div>
			<div>
				<ul>
					<li><a href="http://grochtdreis.de" target="_blank">Grochtdreis.de</a></li>
					<li><a href="https://twitter.com/flocke" target="_blank">Twitter</a></li>
					<li><a href="http://grochtdreis.de/weblog" target="_blank">Mein Blog</a></li>
					<li><a href="https://speakerdeck.com/flocke" target="_blank">Speakerdeck</a></li>
					<li><a href="http://webkrauts.de" target="_blank">Webkrauts</a></li>
				</ul>
				<img src="pictures/general/klatsch-klatsch-klatsch.jpg" alt="" class="flexible">
			</div>
		</div>
</section>
