<section class="shouting">
	<h2>Installation</h2>
</section>

<section class="shouting-secondary">
	<h2>Sass ist ursprünglich ein Ruby-Tool. Aber das ist Vergangenheit!</h2>
</section>

<section>
	<h2>Als node-Tool</h2>
	<p>Als Node-Tool bestehen keine Abhängigkeiten von Ruby. Es wird die sehr schnelle C-Implementierung libsass genutzt. Das früher beliebte <strong>Compass</strong> kann in dieser Form <strong>nicht</strong> genutzt werden. Dessen Funktionen können mit <a href="http://postcss.org/" target="_blank">PostCSS</a> imitiert werden.</p>
	<ul>
		<li><a href="https://github.com/sindresorhus/grunt-sass" target="_blank">Grunt-Wrapper</a> (grunt-sass)</li>
		<li><a href="https://github.com/dlmanning/gulp-sass" target="_blank">Gulp-Wrapper</a> (gulp-sass)</li>
	</ul>
</section>
