<section class="shouting">
	<h2>Linktipps</h2>
</section>

<section>
	<figure>
		<img src="pictures/sass/sass-website.png" alt="" class="flexible">
		<figcaption class="linksToOutside"><a href="http://sass-lang.com/" target="_blank">Sass-Website</a></figcaption>
	</figure>
</section>

<section>
	<figure>
		<img src="pictures/sass/better-sassdocs.png" alt="" class="flexible">
		<figcaption class="linksToOutside"><a href="http://www.kaelig.fr/bettersassdocs/" target="_blank">Die Sass-Doku in hübscher</a></figcaption>
	</figure>
</section>

<section>
	<figure>
		<img src="pictures/sass/sassmeister.png" alt="" class="flexible">
		<figcaption class="linksToOutside"><a href="http://sassmeister.com" target="_blank">Sassmeister</a></figcaption>
	</figure>
</section>

<section>
	<figure>
		<img src="pictures/sass/sass-guidelines.png" alt="" class="flexible">
		<figcaption class="linksToOutside"><a href="https://sass-guidelin.es/" target="_blank">Sass Guidelines</a></figcaption>
	</figure>
</section>

<section>
	<figure>
		<img src="pictures/sass/color-functions.png" alt="" class="flexible">
		<figcaption class="linksToOutside"><a href="http://jackiebalzer.com/color" target="_blank">Sass Color Functions</a></figcaption>
	</figure>
</section>

<section>
	<figure>
		<img src="pictures/sass/sache.png" alt="" class="flexible">
		<figcaption class="linksToOutside"><a href="http://www.sache.in/" target="_blank">Sass Extensions</a></figcaption>
	</figure>
</section>

<section>
	<figure>
		<img src="pictures/sass/css2sass.png" alt="" class="flexible">
		<figcaption class="linksToOutside"><a href="http://css2sass.herokuapp.com/" target="_blank">CSS 2 Sass Konverter</a></figcaption>
	</figure>
</section>

<section>
	<figure>
		<img src="pictures/sass/sitepoint-sass.png" alt="" class="flexible">
		<figcaption class="linksToOutside"><a href="https://www.sitepoint.com/sass-reference/" target="_blank">Sitepoint Sass-Referenz</a></figcaption>
	</figure>
</section>

<section>
	<figure>
		<img src="pictures/sass/sassaby.png" alt="" class="flexible">
		<figcaption class="linksToOutside"><a href="https://github.com/ryanbahniuk/sassaby" target="_blank">Sassaby - eine Unit-Test Bibliothek</a></figcaption>
	</figure>
</section>
