<section class="shouting">
	<h2>Mixins vs. Platzhalter</h2>
</section>

<section class="shouting-secondary">
	<h2>Die Reihenfolge der Plathalter im Vergleich zur Referenz ist für die Ausgabe entscheidend.</h2>
</section>

<section data-menu-title="Codebeispiele">
	<div class="split">
		<div>
			<figure><img src="pictures/sass/sass-codeschnipsel/placeholder-mixin.png" class="flexible" alt=""></figure>
		</div>
		<div>
			<figure><img src="pictures/sass/sass-codeschnipsel/placeholder-mixin-ausgabe.png" class="flexible" alt=""></figure>

		</div>
	</div>
</section>

<section class="shouting-secondary">
	<h2>Lösung: Die Platzhalter werden ans Ende gepackt.</h2>
</section>
<section class="shouting-tertiary">
	<h2>Bessere Lösung: Die Platzhalter werden <mark>niemals</mark> verwendet. Stattdessen nutzen Sie Mixins!</h2>
</section>
