<section class="shouting">
	<h2>Namensgebung</h2>
</section>

<section>
	<p>Ein Unterstrich vor dem Dateinamen unterdrückt die direkte Ausgabe der Datei. Diese Dateien werden in eine zentrale importiert. Dabei müssen weder der Unterstrich noch die Dateiendung angegeben werden.</p>
<pre><code class="scss">// wird direkt ausgegeben
styles.scss

// wird nicht direkt ausgegeben
_tables.scss </code></pre>
</section>
