<section class="shouting">
	<h2>Spielplatz für Sass</h2>
</section>

<section>
	<figure>
		<img src="pictures/sass/sassmeister.png" alt="" class="flexible">
		<figcaption class="linksToOutside"><a href="http://sassmeister.com" target="_blank">Sassmeister</a></figcaption>
	</figure>
</section>
