<script src="js/reveal.js"></script>
<script>
    // More info https://revealjs.com/config/
    Reveal.initialize({
        controlsTutorial: false,
        history: true,
        slideNumber: true,
        slideNumber: 'c/t',
        center: true,
        transition: 'default', // none/fade/slide/convex/concave/zoom
        transitionSpeed: 'fast' // default/fast/slow
    });

</script>
<!-- Copyright © 2022 Jens Grochtdreis -->
